/*.container {
  display: flex;
  flex-direction: row;

  .block {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

}
*/

.container {
  width: 100%;
  .block {
    text-align: center;
    margin: auto;
    max-width: 930px;
    h1 {
      text-transform: uppercase;
    }

    textarea {
      border: solid 1px;
    }
  }
}
