
.ficha {
  display: flex;
  width: 100%;
  margin-top: 24px;

  background-color: #333333;
  color: #fff;

  border-radius: 1%;
  border: 8px solid #6e6d51;
  box-sizing: border-box;

  @media (max-width : 701px) {
    flex-direction: column;
  }

  .quarter {
    float: left;
    width: 100%;
    //border: 1px solid red;
    text-align: center;



    .quarter-content {
      margin: 10px 2px;

    }

    .coll {
      column-count: 2;
    }



    h2 {
      //border: 1px solid red;
    }
  }
}

