<div class="ficha" *ngFor="let item of listado">


  <div class="quarter">
    <h2>{{item.basica.personaje}}</h2>
    <p>{{item.historia}}</p>
  </div>
  <div class="quarter">
    <h2>Habilidades Basicas</h2>
    <div class="quarter-content">
      <div>
        <span>Jugador: </span>
        <span>{{item.basica.jugador}} </span>
      </div>
      <div>
        <span>Nacion: </span>
        <span>{{item.basica.nacion}}</span>
      </div>
      <div>
        <span>Religion: </span>
        <span>{{item.basica.religion}}</span>
      </div>
    </div>
  </div>

  <div class="quarter">
    <h2>Caracteristicas</h2>
    <div class="quarter-content">
      <div>
        <span>Musculo: </span>
        <i *ngFor="let i of Arr(item.caracteristicas.musculo).fill(1)" class="fa fa-dot-circle-o"></i>
      </div>
      <div>
        <span>Maña: </span>
        <i *ngFor="let i of Arr(item.caracteristicas.manya).fill(1)" class="fa fa-dot-circle-o"></i>
      </div>
      <div>
        <span>Brio: </span>
        <i *ngFor="let i of Arr(item.caracteristicas.brio).fill(1)" class="fa fa-dot-circle-o"></i>
      </div>
      <div>
        <span>Ingenio: </span>
        <i *ngFor="let i of Arr(item.caracteristicas.ingenio).fill(1)" class="fa fa-dot-circle-o"></i>
      </div>
      <div>
        <span>Donaire: </span>
        <i *ngFor="let i of Arr(item.caracteristicas.donaire).fill(1)" class="fa fa-dot-circle-o"></i>
      </div>
    </div>
  </div>

  <div class="quarter">
    <h2>Habilidades</h2>
    <div class="quarter-content">
      <div *ngFor="let key of item.habilidades | keys">
        <span>{{key}}: </span>
        <i *ngFor="let i of Arr(item.habilidades[key]).fill(1)" class="fa fa-dot-circle-o"></i>
      </div>
    </div>

  </div>

</div>
