<h1>Resumen</h1>
<div class="home">
  <div class="home-section">
    <h2>5º Sesion</h2>
    <p>Después de los eventos sucedidos en el cementerio. "JC" y "Carlos", se dirigieron a la taberna, el resto marcho a
      descansar a los barracones.</p>

    <p> Allí escuchando la conversación de un grupo de mercenarios Eissenos,
      se enteraron que Comándate Lucien se había estado comportante de manera extraña desde la muerte del Comándate
      Rodval.
    </p>

    <p>Al ser pillados infraganti escuchando la conversación, los mercenarios les atacaron, "JC" se retiró en busca de
      refuerzos dejando
      a "Carlos",solo ante el peligro.</p>

    <p>
      Todo los héroes acudieron al rescate, para cuando llegaron, "Carlos" ya había despachado a cuatro de ellos. Entre
      todos
      derrotaron e hicieron huir a los mercenarios.</p>

    <p>
      Nada mas terminar el combate, surgió de las sombras el Comándate Lucien. El comándante felicito a el grupo por su
      valia e invito unirse
      a
      su división.</p>

    <p>
      La mayoría del grupo acepto su propuesta, quedando a la mañana siguiente con el Comándate Harold para completar
      los
      tramites...</p>

  </div>
  <div class="home-section">

    <h2>4º Sesion</h2>

    <h3> Acto I</h3>


    <p>''Héctor'' consigue llegar con éxito a la alcoba de Joan cubierto con las distracción del patio y con la ayuda de
      los
      horarios de los guardias obtenido en la sesión anterior.
    <p>

    <p>
      La interpretación de Diego y fénix acaba con una paliza en la que diego acaba herido, debido a esto a la mas que
      obvia
      superioridad de fénix en el combate, y a una mala planificación, Carlos no puede realizar apuesta alguna y se pone
      a
      tocad el laúd, sin resultado aparente.
    </p>

    <p>
      Jorge es descubierto siguiendo a Joan, lejos de evitar ser descubierto decide comenzar una persecución por la
      fortaleza entre callejuelas, cajas y gallinas. ( En cualquier buena persecución debe haber cajas y gallinas)</p>

    <p>
      Alex pierde de vista al mensajero
    </p>

    <p>
      Junior encuentra en paradero desconocido.
    </p>

    <h3>Acto II</h3>

    <p>
      Héctor rebuscando en las pertenencias de Joan consigue encontrar una figurita de un caballo con una inscripción en
      la
      que pone "POP", al levantarla observa un doble fondo en el cajón y encuentra un frasco de alquimia con lo que se
      aprecia ser un líquido amarillo de uso desconocido.
    </p>
    <p>
      Continua la pelea "simulada" entre fénix y diego. Diego consigue escapar por un pelo.
    </p>
    <p>
      Jorge consigue abalanzarse sobre Joan, TRAS UN LAMENTABLE INTERROGATORIO, en el cual se pone en duda incluso el
      género
      de Joan. Joan saca un puñal y forcejean, al final a costa de resultar herido, consigue reducirlo, le deja
      inconsciente
      y le ata las manos usando su cinturón, lo registra y obtiene 2 cartas una marcada con la "F" y otra con la "C". Lo
      lleva a las caballerizas donde un guardia les encuentra y corre a dar la alerta. Por suerte teníamos permiso para
      investigar el asesinato del prisionero.
    </p>
    <h3>Acto III</h3>

    <p>
      En ese momento se oyen las campanas, Oswald "El sapo" comandante de la novena división ha sido asesinado por Joan
      el
      ayudante del almacén. Pues de puta madre dijo Jorge, y dio el aviso de que tenia al asesino. Toda la patrulla se
      reúne
      en las caballerizas para ver lo sucedido, acompañados por los miembros del consejo.
    </p>
    <p>
      Mientras intentaban despertar al prisionero Joan para interrogarlo, Fénix de una forma delicada, dulce y amable,
      le
      aplasta la cabeza y le hace sopa hasta el cráneo. Del cual recoge un pedazo como trofeo. Uno de los miembros del
      consejo les informa de que deberán reunirse con él en el cementerio al anochecer.
    </p>
    <p>
      Mientras todos están en los barracones descansando Héctor y Alex deciden hacer una escapada para conseguir
      riquezas.
    </p>
    <p>
      De camino al cementerio Jorge lee los documentos que sustrajo al prisionero:

    <li>La carta C indica que los espías tienen como objetivo destruir el polvorín para conseguir superioridad e caso de
      combate naval.
    </li>
    <li>
      - La carta F detalla que Giuseppe es un objetivo a eliminar de los espías.
    </li>
    </p>
    <p>
      Una vez en el cementerio la patrulla se encuentra con un miembro del alto mando, que les informa que a partir de
      ahora
      Junior estará bajo sus órdenes directas. Tras haber recibido un riguroso entrenamiento... Junior hace desenterrar
      los
      restos del asesino de Oswald, Joan el encargado del almacén, y vierte una misteriosa poción sobre el cadáver, y le
      da
      a Fénix otra de color amarillo (similar a la que Héctor encontró en la habitación del ayudante del almacén).
      Gracias
      a
      esta pócima Fénix ve al espectro del joven ayudante, pero solo le puede hacer dos preguntas las cuales son ¿quién
      es
      vuestro comandante en la fortaleza?. - Edric Greylock
    </p>
  </div>

  <div class="home-section">
    <h2>3º Sesion</h2>
    <div>El espia ha muerto en las mazmorras.</div>
    <div> El consejo se reune con el grupo y les asigna la investigacion. "Diego", es sospechoso.</div>
    <div> Se descubre que el espia murio envenenado.</div>
    <div>Se descubre el origen del veneno en la intendencia.</div>
    <div>Se descubre un horario de patrullas en los barracones de la 7º Division.</div>
  </div>

  <div class="home-section">
    <h2>2º Sesion</h2>
    <div>"JC" compìte contra "Carlos" por el puesto de vice-Comandante</div>
    <div>"Hector",consigue la informacion de la rutas de contrabando. Adquiere la ventaja de Buen Bebedor.</div>
  </div>

  <div class="home-section">
    <h2>1º Sesion</h2>
    <div>Pruebas de accceso a los Halcones Plateados</div>
    <div>"Carlos" se alza victorioso y se premia con la posicion de vice-Comandante</div>
  </div>
</div>
