<h1>Resumen</h1>
<div class="home-section">
  <h2>4ª Sesion</h2>
  <div>El comandate de la Novena de division ha sido asesinado. El asesino es Joan el ayudante de Intendencia.</div>
  <div>Es atrapado por "Jorge".</div>
  <div> Es asesinado por "JC".</div>
  <div>"Junior" usa sus artes magicas para hablar con el muerto.</div>
  <div>Se descubre el nombre del jefe de los infiltrados Edric Greylock.</div>
</div>

<div class="home-section">
  <h2>3º Sesion</h2>
  <div>El espia ha muerto en las mazmorras.</div>
  <div> El consejo se reune con el grupo y les asigna la investigacion. "Diego", es sospechoso.</div>
  <div> Se descubre que el espia murio envenenado.</div>
  <div>Se descubre el origen del veneno en la intendencia.</div>
  <div>Se descubre un horario de patrullas en los barracones de la 7º Division.</div>
</div>

<div class="home-section">
  <h2>2º Sesion</h2>
  <div>"JC" compìte contra "Carlos" por el puesto de vice-Comandante</div>
  <div>"Hector",consigue la informacion de la rutas de contrabando. Adquiere la ventaja de Buen Bebedor.</div>
</div>

<div class="home-section">
  <h2>1º Sesion</h2>
  <div>Pruebas de accceso a los Halcones Plateados</div>
  <div>"Carlos" se alza victorioso y se premia con la posicion de vice-Comandante</div>
</div>
